<% layout('layouts/boilerplate') %>
    <!-- Weclome -->
    <section id="main" class="welcome-container">
        <div class="row image-row">
            <div class="col-2">
                <img src="/data/images/fish-1.png" class="icon-image" alt="Image 1">
            </div>
            <div class="col-2">
                <img src="/data/images/fish-3.png" class="icon-image" alt="Image 2">
            </div>
            <div class="col-2">
                <img src="/data/images/fish-4.png" class="icon-image" alt="Image 3">
            </div>
            <div class="col-2">
                <img src="/data/images/fish-2.png" class="icon-image" alt="Image 4">
            </div>
            <div class="col-2">
                <img src="/data/images/fish-0.png" class="icon-image" alt="Image 5">
            </div>
        </div>
        <div class="row welcome-message">
            <h1>Welcome to our shared <b>Stories</b>, where you can read interseing stories from our users
            </h1>
        </div>
    </section>

    <!-- Divider -->
    <section class="section-divider-two">
        <img src="/data/images/fish-3.png" alt="Image 1">
        <img src="/data/images/fish-1.png" alt="Image 2">
        <img src="/data/images/fish-5.png" alt="Image 3">
    </section>

    <!-- StoriesGallery -->
    <section id="storiesGallery" class="container-one">
        <div class="d-flex flex-column align-items-center">
            <h1><b>StoryCenter</b></h1>
        </div>
        <hr>
        <div class="row stories-content">

            <% stories.forEach((story, index)=> { %>
                <div class="col-12 mb-4">
                    <% if (index % 2===0) { %>
                        <!-- Card 1 -->
                        <div class="story-card d-flex flex-column flex-md-row">
                            <div class="story-card-image">
                                <img src="/data/images/fish-0.png" alt="Story Image">
                            </div>
                            <div class="story-card-content">
                                <h3 class="common-card-title">
                                    <%= story.name %>
                                </h3>
                                <hr>
                                <p class="common-card-text">
                                    <%= story.textBody %>
                                </p>
                                <div class="common-card-footer">
                                    <span>
                                        <%= story.author %>
                                    </span> | <span>
                                        <%= story.date %>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <!-- Card 2 -->
                            <div class="story-card d-flex flex-column flex-md-row-reverse">
                                <div class="story-card-image">
                                    <img src="/data/images/fish-2.png" alt="Story Image">
                                </div>
                                <div class="story-card-content">
                                    <h3 class="common-card-title">
                                        <%= story.name %>
                                    </h3>
                                    <hr>
                                    <p class="common-card-text">
                                        <%= story.textBody %>
                                    </p>
                                    <div class="common-card-footer">
                                        <span>
                                            <%= story.author %>
                                        </span> | <span>
                                            <%= story.date %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                </div>
                <% }); %>
        </div>
    </section>

    <!-- Divider -->
    <section class="section-divider-one">
        <img src="/data/images/fish-1.png" alt="Image 1">
        <img src="/data/images/fish-5.png" alt="Image 2">
        <img src="/data/images/fish-3.png" alt="Image 3">
    </section>

    <!--Pagination-->
    <section class="container-two" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <% if (currentPage <=1) { %>
                    <a class="page-link disabled">Previous</a>
                    <% } else { %>
                        <a class="page-link" href="/locations?page=<%= currentPage - 1 %>">Previous</a>
                        <% } %>
            </li>

            <% for (let index=1; index <=totalPages; index++) { %>
                <li class="page-item" aria-current="page">
                    <% if (currentPage===index) { %>
                        <a class="page-link active" href="/locations?page=<%= index %>">
                            <%= index %>
                        </a>
                        <% } else { %>
                            <a class="page-link" href="/locations?page=<%= index %>">
                                <%= index %>
                            </a>
                            <% } %>
                </li>
                <% } %>

                    <li class="page-item">
                        <% if (currentPage>= totalPages) { %>
                            <a class="page-link disabled" href="#">Next</a>
                            <% } else { %>
                                <a class="page-link" href="/locations?page=<%= currentPage + 1 %>">Next</a>
                                <% } %>
                    </li>
        </ul>
    </section>