<% layout('layouts/boilerplate')%>
    <main id="main">
        <!--ShowCase-->
        <section id="showcase" class="container my-5">
            <div class="d-flex flex-column align-items-center mt-5">
                <h1>
                    <b>User Stories</b>
                </h1>
            </div>

            <!--Issue with small screens-->
            <div class="container">
                <div class="row">
                    <% for(let i=0; i < 6; i++) {%>
                        <div class="col-md-2">
                            <img class="myLogo-size" src="/data/images/fish-0.png" alt="Logo">
                        </div>
                        <%}%>
                </div>
                <hr>
        </section>

        <section class="container">
            <% for(let i=0; i < stories.length; i++){%>
                <section class="myContainer">
                    <div class="row mt-3">
                        <div class="mb-4">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=stories[i].storyName %>
                                </h5>
                                <p class="card-text">
                                    <%= stories[i].description %>
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
                <%}%>
        </section>

        <!--Pagination-->
        <section class="mt-3" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <% if (currentPage <=1) { %>
                        <a class="page-link disabled">Previous</a>
                        <% } else { %>
                            <a class="page-link" href="/locations?page=<%= currentPage - 1 %>">Previous</a>
                            <% } %>
                </li>

                <% for (let index=1; index <=totalPages; index++) { %>
                    <li class="page-item" aria-current="page">
                        <% if (currentPage===index) { %>
                            <a class="page-link active" href="/locations?page=<%= index %>">
                                <%= index %>
                            </a>
                            <% } else { %>
                                <a class="page-link" href="/locations?page=<%= index %>">
                                    <%= index %>
                                </a>
                                <% } %>
                    </li>
                    <% } %>

                        <li class="page-item">
                            <% if (currentPage>= totalPages) { %>
                                <a class="page-link disabled" href="#">Next</a>
                                <% } else { %>
                                    <a class="page-link" href="/locations?page=<%= currentPage + 1 %>">Next</a>
                                    <% } %>
                        </li>
            </ul>
        </section>
    </main>